# General
md/

# Main
BachProef/bachproef-tin.aux
BachProef/bachproef-tin.bcf
BachProef/bachproef-tin.idx
BachProef/bachproef-tin.lof
BachProef/bachproef-tin.log
BachProef/bachproef-tin.lot
BachProef/bachproef-tin.pdf
BachProef/bachproef-tin.run*
BachProef/bachproef-tin.synctex.gz
BachProef/bachproef-tin.toc
BachProef/bachproef-tin.bib.bak
BachProef/bachproef-tin.bib.sav
BachProef/bachproef-tin.blg
BachProef/bachproef-tin.bbl
BachProef/bachproef-tin.out
BachProef/bachproef-tin.glo
BachProef/bachproef-tin.ist
BachProef/bachproef-tin.glsdefs
BachProef/*.log
BachProef/bachproef-tin.acr
BachProef/bachproef-tin.alg
BachProef/bachproef-tin.acn
BachProef/bachproef-tin.glg
BachProef/bachproef-tin.gls

# Voorstel
Voorstel/voorstel.bib.bak
Voorstel/voorstel.bib.sav
Voorstel/Pessemier_Mout_voorstel.aux
Voorstel/Pessemier_Mout_voorstel.bbl
Voorstel/Pessemier_Mout_voorstel.bcf
Voorstel/Pessemier_Mout_voorstel.blg
Voorstel/Pessemier_Mout_voorstel.log
Voorstel/Pessemier_Mout_voorstel.out
Voorstel/Pessemier_Mout_voorstel.toc
Voorstel/Pessemier_Mout_voorstel.synctex.gz
Voorstel/Pessemier_Mout_voorstel.pdf
Voorstel/Pessemier_Mout_voorstel.run*

# Implementatie
Implementatie/UiPath/SendFiles/.vs
Implementatie/AutomationAnywhere/SendFiles/.vs
Implementatie/IntelliBot/SendFiles/.vs
Implementatie/Microsoft\ Flow/MFSendFiles/.vs
Implementatie/Microsoft\ Flow/AFSendFiles/.vs

Implementatie/IntelliBot/SendFilesWorkflow/SendFiles.zip
Implementatie/Microsoft\ Flow/Assets

# Poster
