<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://afsendfiles.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/121b06c9-24f0-49d4-863c-a77eff350188/resourcegroups/faktion-dev/providers/Microsoft.Web/sites/AFSendFiles</ResourceId>
    <UserName>$AFSendFiles</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://afsendfiles.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>